<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar border-bottom border-4 d-flex align-items-center">
      <div class="container">
        <h3><%= link_to 'Yelp', restaurants_path %></h3>
        <p class="btn btn-secondary white-text"><%= link_to "create restaurant", new_restaurant_path %></p>
      </div>
    </div>
    <div class="container main-body">
      <%= yield %>
    </div>
  </body>
</html>
